user www-data;
worker_processes auto;
pid /run/nginx.pid;

events {
	worker_connections 1024;
	multi_accept on;
}

http {

	##
	# Basic Settings
	##

	sendfile on;
	tcp_nopush on;
	tcp_nodelay on;
	keepalive_timeout 30;
	types_hash_max_size 2048;
	server_tokens off;

	server_names_hash_bucket_size 64;
	server_name_in_redirect off;

	include /etc/nginx/mime.types;
	default_type application/octet-stream;

	reset_timeout_connection on;

	client_body_timeout 1;
	send_timeout 2;

	##
	# Logging Settings
	##

	access_log /var/log/nginx/access.log;
	error_log /var/nginx/error.log;

	##
	# Gzip Settings
	##

	gzip on;
	gzip_disable "msie6";
	gzip_min_length 10248;
	gzip_http_version 1.1;
	gzip_buffers 8 16k;
	gzip_vary on;
	gzip_proxied any;
	gzip_types
		text/plain
		text/css
		application/json
		application/x-javascript
		application/x-font-ttf
		application/x-font-opentype
		application/vnd.ms-fontobject
		application/xml-rss
		text/xml
		text/javascript
		image/svg+xml
		image/x-icon;

		##
		# Virtual Host Configs
		##

		include /etc/nginx/confi.d/*.conf;
		include /etc/nginx/sites-enabled/*;

}